<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feeds/rss/" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feeds/atom/" />
    <title>Hans en Paul: 120 jaar</title>	
</head>

<body>
    <div id="title">Hans en Paul: 120 jaar</div>
    <div id="categories">
        <a href="/">Alles</a>&nbsp;|&nbsp;
        <a href="/hans/">Hans</a>&nbsp;|&nbsp;
        <a href="/paul/">Paul</a>&nbsp;|&nbsp;
        <a href="/allebei/">Allebei</a>
    </div>
    <div id="content">
        {% block "content" %}
        {% if category %}
            <h3>Video's over {{ category }}</h3>
            <div id="video">{{ category.get_random_video.get_embed_video_object|safe }}</div>
        {% else %}
            Hans en Paul verjaardag blablabla.
        {% endif %}
        {% endblock %}
    </div>
    <div id="video_list">
        {% block "video_list" %}
        <table>
            {% for video in video_list %}
            <tr>
                <td><a href="{{ video.get_absolute_url }}"><img alt="{{ video.title }} voorbeeld" src="{{ video.get_thumbnail_url }}"/></a></td>
                <td><a href="{{ video.get_absolute_url }}">{{ video.title }}</a>{% ifnotequal video.category.slug "allebei" %} over {{ video.category }}{% endifnotequal %}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </div>
</body>
</html>
