<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feeds/rss/" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feeds/atom/" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <title>{% block "title" %}Hans en Paul: 120 jaar{% if category %} - Video's over {{ category }}{% endif %}{% endblock %}</title>	
</head>

<body>
    <div id="wrapper">
        <div class="left">
            <!--><div id="title">{% block "htmltitle" %}{{ video.title }} over {{ video.category.name }}{% endblock %}</div>-->
            <div id="content">
                {% block "content" %}
                        <div id="video">{{ video.get_embed_video_object|safe }}</div>
                        {% if prev and next %}
                        <div id="next_prev">
                            <p class="pijl" id="left_p"><a href="{{ prev.get_absolute_url }}"><img align="left" src="/static/images/pijl_links.jpg" alt="links" />vorige</a></p>
                            <p class="pijl" id="right_p"><a href="{{ next.get_absolute_url }}"><img align="right" src="/static/images/pijl_rechts.jpg" alt="links" />volgende</a></p>
                            <br class="clear" />
                        </div>
                        {% endif %}

                        <div id="comments">
                        {% block "comments" %}
                            {% load comments %}

                            {% get_comment_list for video as comment_list %}
                            <h3>Reacties</h3>
                            {% if comment_list %}

                                {% for comment in comment_list %}
                                    <div class="comment_odd" id="c{{ comment.id }}">
                                        <p><b>{% if comment.user_url %}<a href="{{ comment.user_url }}">{% endif %}{{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}</b> reageerde, op {{ comment.submit_date|date:"j F Y" }} om {{ comment.submit_date|date:"G:i" }} uur:<br/></p>
                                        {{ comment.comment|linebreaks }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Er zijn nog geen reacties.</p>
                            {% endif %}

                            <h3>Laat reactie achter</h2>
                            {% render_comment_form for video %}
                        {% endblock %}
                        </div>
                {% endblock %}
            </div>
        </div>

        <div class="right">
            <div id="categories">
                <ul id="video_list">
                    <li{% if not category and video_list %} id="category-current"{% endif %}><a id="alles" href="/">Alles</a></li>
                    <li{% ifequal category.slug "hans" %} id="category-current"{% endifequal %}><a id="hans" href="/hans/">Hans</a></li>
                    <li{% ifequal category.slug "paul" %} id="category-current"{% endifequal %}><a id="paul" href="/paul/">Paul</a></li>
                    <li{% if not video_list %} id="category-current"{% endif %}><a id="gastenboek" href="/guestbook/">Gastenboek</a></li>
                    <br class="clear" />
                </ul>
            </div>
        
            <div id="scrollbar">
                <div id="videolist">
                    {% block "videolist" %}
                    <table cellspacing="4" id="videolist-table">
                
                        {% for lvideo in video_list %}
                        <tr>
                            <td{% ifequal video lvideo %} id="video-current"{% endifequal %}>
                                <a href="{{ lvideo.get_absolute_url }}"><img alt="{{ lvideo.title }} voorbeeld" align="left" src="{{ lvideo.get_thumbnail_url }}"/></a>
                                <a class="text_link" href="{{ lvideo.get_absolute_url }}">{{ lvideo.title }}</a>{% ifnotequal lvideo.category.slug "allebei" %} {{ lvideo.category }}{% endifnotequal %}<br/>
                            </td>
                        </tr>
                
                        {% endfor %}
                
                    </table>
                    <!-->
                    <div id="sort">
                    	Sorteren op <a href="#">Datum</a> / <a href="#">Naam</a>
                    </div>
                    -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2924872-7");
pageTracker._trackPageview();
</script>
</body>
</html>
