<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feeds/rss/" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feeds/atom/" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <title>{% block "title" %}Hans en Paul: 120 jaar{% if category %} - Video's over {{ category }}{% endif %}{% endblock %}</title>	
</head>

<body>
    <div id="wrapper">
    </div>
    <div class="left">
        <div id="title">{% block "htmltitle" %}Hans en Paul: 120 jaar{% if category %} - Video's over {{ category }}{% endif %}{% endblock %}</div>
        <div id="content">
            {% block "content" %}
            {% if category %}
                <div id="video">{{ category.get_random_video.get_embed_video_object|safe }}</div>
                <div id="next_prev">
                    <p class="pijl" id="left_p"><a href="#"><img align="left" src="images/pijl_links.jpg" alt="links" />vorige</a></p>
                    <p class="pijl" id="right_p"><a href="#"><img align="right" src="images/pijl_rechts.jpg" alt="links" />volgende</a></p>
                    <br class="clear" />
                </div>
            {% else %}
                Hans en Paul verjaardag blablabla.
            {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="right">
        <div id="categories">
            <ul id="video_list">
                <li><a id="alles" href="/">Alles</a></li>
                <li><a id="hans" href="/hans/">Hans</a></li>
                <li><a id="paul" href="/paul/">Paul</a></li>
                <li><a id="gastenboek" href="/guestbook/">Gastenboek</a></li>
                <br class="clear" />
            </ul>
        </div>
        
        <div id="videolist">
            {% block "videolist" %}
            <table cellspacing="4" id="videolist-table">
                {% for video in video_list %}
                <tr>
                    <td><a href="{{ video.get_absolute_url }}"><img alt="{{ video.title }} voorbeeld" align="left" src="{{ video.get_thumbnail_url }}"/></a>
                    <a class="text_link" href="{{ video.get_absolute_url }}">{{ video.title }}</a>{% ifnotequal video.category.slug "allebei" %} over {{ video.category }}{% endifnotequal %}<br/></td>
                </tr>
                {% endfor %}
            </table>
            <div id="sort">
            	Sorteren op <a href="#">Datum</a> / <a href="#">Naam</a>
            </div>
            {% endblock %}
        </div>
    </div>

</body>
</html>
