{% extends "base.html" %}

{% block "content" %}
        <div id="video">{{ video.get_embed_video_object|safe }}</div>
        
        <div id="comments">
        {% load comments %}
        
        {% get_comment_list for video as comment_list %}
        <h3>Reacties</h3>
        {% if comment_list %}
        
            {% for comment in comment_list %}
                <div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
                    <p><b>{% if comment.user_url %}<a href="{{ comment.user_url }}">{% endif %}{{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}</b> reageerde, op {{ comment.submit_date|date:"j F Y" }} om {{ comment.submit_date|date:"P" }}:</p>
                    {{ comment.comment|urlizetrunc:40|linebreaks }}
                </div>
            {% endfor %}
        {% else %}
            <p>Er zijn nog geen reacties.</p>
        {% endif %}
        
        <h3>Laat reactie achter</h2>
        {% render_comment_form for video %}
        </div>
{% endblock %}